{{ $data := index site.Data site.Language.Lang }}

{{ if $data.aboutus.aboutus.enable }}
{{ with $data.aboutus.aboutus }}
{{"<!-- aboutus -->" | safeHTML}}
<section class="section section-bg about-2 padding-0" id="aboutus">
	<div class="container">
		<div class="row">
			<div class="content-block col-lg-12">
					<div class="title text-center wow fadeIn" data-wow-duration="1500ms">
						<h2> {{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
							{{ with .title }} {{ index (split . " ") 1 | safeHTML }} {{ end }} </span></h2>
					</div>
					<p class="text-center">{{ .content | markdownify }}</p>
				<div class="row">
					{{ range .aboutus_item }}
					<div class="col-lg-6">
						<div class="media">
							{{with .icon}}
							<div class="icon align-self-start mr-3">
								<img src="{{ . }}" alt="" />
							</div>
							{{ end }}
							<div class="media-body">
								<h4 class="media-heading">{{ .title | markdownify }}</h4>
								<p>{{ .content | markdownify }}</p>
							</div>
						</div>
					</div>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</section>
{{"<!-- /aboutus -->" | safeHTML}}
{{ end }}
{{ end }}
