{{ $data := index site.Data site.Language.Lang }}

{{ if $data.service.service.enable }}
{{ with $data.service.service }}
{{"<!-- Start service Section -->" | safeHTML}}
<section class="service section" id="service">
	<div class="container">
		<div class="row">
			<div class="content-block col-lg-12">
				<div class="title text-center wow fadeIn" data-wow-duration="1500ms">
					<h2> {{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
						{{ with .title }} {{ index (split . " ") 1 | safeHTML }} {{ end }} </span></h2>
				</div>
				<div class="content text-center pb-5">
					<p>
						{{ .content | markdownify }}
					</p>
				</div>
			</div>

			{{ range .service_item }}
			{{"<!-- service item -->" | safeHTML}}
			<div class="col-lg-4 wow fadeInUp" data-wow-duration="500ms">
				<div class="block">
					<div class="icon-box text-center">
						{{with .icon}}<img src="{{ . }}" alt="" />{{ end }}
					</div>
					{{"<!-- Express service Yourself -->" | safeHTML}}
					<div class="content">
						<h3 class="text-center">{{ .title }}</h3>
						{{ .content | markdownify }}
					</div>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{"<!-- /service -->" | safeHTML}}
{{ end }}
{{ end }}
